<app-header></app-header>

<div class="mat-app-background basic-container">

    <mat-grid-list cols="3">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form">
            <mat-grid-tile>
                <mat-form-field class="example-chip-list">
                    <mat-label>Add 5 values</mat-label>
                    <mat-chip-list formControlName="arr" #chipList aria-label="Number selection">
                        <mat-chip *ngFor="let value of valueArray" [selectable]="selectable" [removable]="removable" (removed)="remove(value)">
                            {{value}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Add 5 values" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <mat-label>Value</mat-label>
                    <input formControlName="value" matInput placeholder="Number">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <button type="submit" mat-raised-button color="primary">Submit</button>
            </mat-grid-tile>
        </form>

    </mat-grid-list>

    <router-outlet></router-outlet>

    <app-loading></app-loading>

</div>